**Project 1 - SHARKS**

# Libraries

In [31]:
# Libraries
import pandas as pd
import numpy as np

# Data import and first cleaning

In [32]:
sharks = pd.read_csv('./data/sharks.csv', encoding = "unicode_escape")
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

At first glance, we can see many NaN values towards the end of the table. These rows seem to not have any value in any of the columns, thus they could be removed without compromising the analysis. 
  
Let's first check the type of data we are dealing with (numerical vs categorical data).

In [33]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

We are dealing with mostly categorical data. Let's see how many NaN values we have in our dataset (by column).

In [34]:
sharks.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [35]:
sharks.shape

(25723, 24)

There appears to be lots of NaN in this dataset. We might be able to reduce the size of the dataframe quite a bit by just removing those rows that are completely empty (how = "all")

In [36]:
sharks.dropna(axis=0, inplace=True, how="all")

In [37]:
sharks.shape

(8703, 24)

In [38]:
sharks.isnull().sum()

Case Number                  1
Date                      2401
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Location                  2941
Activity                  2945
Name                      2611
Sex                       2966
Age                       5232
Injury                    2429
Fatal (Y/N)               2940
Time                      5755
Species                   5239
Investigator or Source    2418
pdf                       2401
href formula              2402
href                      2401
Case Number.1             2401
Case Number.2             2401
original order            2394
Unnamed: 22               8702
Unnamed: 23               8701
dtype: int64

We have considerably reduce the amount of rows, which were basically empty. Now instead of 25k rows we are dealing with almost 9k rows. Let's also check for duplicated data.

In [39]:
sharks.duplicated().sum()

2392

In [40]:
sharks = sharks.drop_duplicates()

In [41]:
sharks.shape

(6311, 24)

In [42]:
sharks.isnull().sum()

Case Number                  1
Date                         9
Year                        11
Type                        13
Country                     59
Area                       464
Location                   549
Activity                   553
Name                       219
Sex                        574
Age                       2840
Injury                      37
Fatal (Y/N)                548
Time                      3363
Species                   2847
Investigator or Source      26
pdf                          9
href formula                10
href                         9
Case Number.1                9
Case Number.2                9
original order               2
Unnamed: 22               6310
Unnamed: 23               6309
dtype: int64

After droping the duplicated rows we end up with 6.3k shark reports. Way better. Also we have reduced substantially the amount of NaN. So far we haven't "lost" any meaningful information, just NaN and duplications. Now let's focus on the columns, as it seems some of them might contain information not really relevant for the analysis.

In [43]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

It appears many columns have a space in its name. Just for commodity, let's remove the spaces.

In [44]:
sharks.columns = sharks.columns.str.strip()

In [45]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

Let's have a look at our dataset after a first cleaning

In [46]:
sharks.tail(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Looks like we still have many NaN in the tail, which were not removed because they had some data in some column (case number and original order). We could remove them as it's really valuable. We could also eliminate some columns that we will most certainly not be using or that they contain repetitive information (Case number...)

In [47]:
(sharks["Case Number"] == sharks["Case Number.1"]).sum() # Almost all Case Number.1 is a duplication of Case Number

6278

In [48]:
(sharks["Case Number"] == sharks["Case Number.2"]).sum() # Almost all Case Number.2 is a duplication of Case Number

6298

In [49]:
sharks = sharks.drop(columns=["pdf", "href formula", "href", "original order", "Unnamed: 22", "Unnamed: 23", "Case Number.1", "Case Number.2"])

In [50]:
sharks.shape # Columns removed

(6311, 16)

In [51]:
sharks = sharks.dropna(axis=0, thresh=8) # Threshold of 8 (at least 8 non NaN per row: 50% of the info (8/16 columns))

In [52]:
sharks.shape

(6302, 16)

In [53]:
sharks.tail() # NaN rows removed

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938"
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker

In [54]:
sharks.isnull().sum()

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
dtype: int64

So far we ended up with a 6302x16 data frame and NaNs have been reduced substantially as well. Just by looking at the number of NaN (the lower the better), it might be a good idea to work with something related to: Date/Year, Type (though it doesn't look interesting), Country/Area/Location, Activity, Sex, Injury (might be messy and not really valuable), Fatal (survived/death). These are the categories that, unless they are very messy, would be more statistically powerfull, since we have lots of non-missing info. Let's see how they look.

# Data exploration
Let's have a look. Will be using value_counts to see the distribution and if how they can be grouped.

In [55]:
sharks["Year"].value_counts() # Data from many years ago, less reports on those years. 
# Could be because they were not reported or maybe sharks are swimming closer to the shores (climate change?)

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1786.0      1
1785.0      1
1784.0      1
1783.0      1
1815.0      1
Name: Year, Length: 249, dtype: int64

In [56]:
sharks["Date"].value_counts() # Looks messy. 
# Might be interesting to see reports per month & country (Shark season?)

1957                          11
1942                           9
1956                           8
1958                           7
1950                           7
                              ..
01-Dec-1994                    1
Reported      10-Dec-1994      1
11-Dec-1994                    1
13-Dec-1994                    1
1845-1853                      1
Name: Date, Length: 5433, dtype: int64

In [57]:
sharks["Type"].value_counts() # Not very informative

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [58]:
sharks["Country"].value_counts().head(10) # USA accumulates most of the reports. 
# We could analyse the top 10 countries by month (Shark seasson?)
# Though the less reports - less representative. Top 3 maybe? or Top > 100 reports?

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
BRAZIL               112
BAHAMAS              109
MEXICO                89
ITALY                 71
FIJI                  62
Name: Country, dtype: int64

In [59]:
sharks["Activity"].value_counts() # We could group them by activity and get the most frequent.
# We would need to clean using regex. Maybe do a top 10 activities.

Surfing                                   971
Swimming                                  869
Fishing                                   431
Spearfishing                              333
Bathing                                   162
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: Activity, Length: 1532, dtype: int64

In [60]:
sharks["Fatal (Y/N)"].value_counts() # We could integrate the fatality in our analysis
# Y and N seem to add well to the number of rows. We would need to clean (space strip, lower case)

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: Fatal (Y/N), dtype: int64

In [61]:
sharks["Injury"].value_counts() # This looks more messy and would rather have the survived vs. death

FATAL                                                                                     802
Survived                                                                                   97
Foot bitten                                                                                87
No injury                                                                                  82
Leg bitten                                                                                 72
                                                                                         ...
Cut foot, but injury caused by fishing line, not the shark                                  1
Left foot bitten after he accidentally stepped on the shark         PROVOKED INCIDENT       1
2 puncture wounds in left leg                                                               1
PROVOKED INCIDENT    Knee bitten by shark trapped in net                                    1
FATAL. "Shark bit him in half, carrying away the lower extremities"                         1
Name: Injury, Length: 3737, dtype: int64

In [62]:
sharks["Species"].value_counts() # Close to 1600 species, looks like they can be grouped with regex.

White shark                                                                                                                      163
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   88
Tiger shark                                                                                                                       73
                                                                                                                                ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                  1
Bull shark, 2.3 m [7.5']                                                                                                           1
0.9 m  [3'] shark                                                                                                                  1
Mako shark, 14'                                                                                                                    1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: Species, Length: 1549, dtype: int64

In [63]:
sharks["Sex"].value_counts() # This is interesting. Way more reports on males

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: Sex, dtype: int64

In [64]:
sharks["Time"].value_counts() # Would need to group them: maybe Mornings (before 1 pm) vs Afternoon (after 1 pm)?

Afternoon      187
11h00          128
Morning        121
12h00          109
15h00          108
              ...
14h37            1
10h07            1
13h53            1
13h23            1
19h00-20h00      1
Name: Time, Length: 366, dtype: int64

Before starting it might be a good idea to save a copy of the clean dataset and start working from there.

In [65]:
sharks.to_csv('./data/sharks_clean.csv', index = False)

# To remove

In [87]:
sharks_activity['Activity'].value_counts().head(50) #identified that some activities could be grouped ('-' separating words, maybe capital letters)

Surfing                           971
Swimming                          869
Fishing                           431
Spearfishing                      333
Bathing                           162
Wading                            149
Diving                            127
Standing                           99
Snorkeling                         89
Scuba diving                       76
Body boarding                      61
Body surfing                       49
Swimming                           47
Kayaking                           33
Treading water                     32
Pearl diving                       32
Fell overboard                     32
Free diving                        29
Boogie boarding                    29
Windsurfing                        19
Walking                            17
Boogie Boarding                    16
Shark fishing                      15
Floating                           14
Fishing                            13
Canoeing                           13
Surf skiing                        12
Surf fishing                       12
Surf-skiing                        12
Rowing                             12
Fishing for sharks                 11
Kayak Fishing                      11
Scuba Diving                       10
Freediving                         10
Sponge diving                      10
Fell into the water                 9
Sailing                             9
Sitting on surfboard                9
Diving for trochus                  9
Paddle boarding                     8
Sea disaster                        8
Diving for abalone                  7
Free diving for abalone             7
Skindiving                          7
Playing                             7
Surf skiing                         7
Surfing (sitting on his board)      7
Boating                             7
Floating on his back                7
Spearfishing                        7
Name: Activity, dtype: int64

In [97]:
sharks_activity["Activity"] = sharks_activity["Activity"].str.replace("-"," ").str.lower()

In [98]:
sharks_activity["Activity"].value_counts().head(50)

surfing                           971
swimming                          869
fishing                           431
spearfishing                      333
bathing                           162
wading                            149
diving                            127
standing                           99
scuba diving                       90
snorkeling                         89
body boarding                      68
body surfing                       49
swimming                           47
boogie boarding                    45
kayaking                           33
pearl diving                       32
treading water                     32
fell overboard                     32
free diving                        31
surf skiing                        24
windsurfing                        19
walking                            17
shark fishing                      16
kayak fishing                      14
canoeing                           14
floating                           14
sea disaster                       14
surf fishing                       13
fishing                            13
rowing                             12
fishing for sharks                 11
kite surfing                       11
freediving                         10
wade fishing                       10
paddle boarding                    10
sponge diving                      10
sitting on surfboard                9
freedom swimming                    9
sailing                             9
fell into the water                 9
diving for trochus                  9
diving for abalone                  8
skindiving                          7
spearfishing on scuba               7
playing                             7
spearfishing                        7
boating                             7
floating on his back                7
free diving for abalone             7
surfing (sitting on his board)      7
Name: Activity, dtype: int64

In [122]:
#Let's create regex for grouping

def group_activity (string):
    str.replace(".*surf.*", "surfing", regex = True)
    str.replace(".*kayak.*", "kayaking", regex = True)
    return

In [106]:
sharks_activity["Activity"] = sharks_activity["Activity"].str.replace(".*surf.*", "surfing", regex=True)

In [107]:
sharks_activity["Activity"].value_counts().head(50)

surfing                       1261
swimming                       869
fishing                        431
spearfishing                   333
bathing                        162
wading                         149
diving                         127
standing                        99
scuba diving                    90
snorkeling                      89
body boarding                   68
swimming                        47
boogie boarding                 45
kayaking                        33
pearl diving                    32
treading water                  32
fell overboard                  32
free diving                     31
walking                         17
shark fishing                   16
canoeing                        14
sea disaster                    14
kayak fishing                   14
floating                        14
fishing                         13
rowing                          12
fishing for sharks              11
sponge diving                   10
paddle boarding                 10
freediving                      10
wade fishing                    10
diving for trochus               9
fell into the water              9
freedom swimming                 9
sailing                          9
diving for abalone               8
floating on his back             7
spearfishing on scuba            7
playing                          7
spearfishing                     7
free diving for abalone          7
skindiving                       7
boating                          7
spearfishing / free diving       6
shipwreck                        6
stand up paddleboarding          6
murder                           6
fishing for mackerel             6
kite boarding                    5
hard hat diving                  5
Name: Activity, dtype: int64