# Cleaning

In [2]:
# Libraries
import pandas as pd
import numpy as np

In [68]:
sharks = pd.read_csv('./data/sharks.csv', encoding = "unicode_escape")
sharks.shape

(25723, 24)

In [69]:
def clean_na_dupl(df):
    '''This function drops rows with NaN in all columns as well as duplicated rows.
    :df: your dataframe.
    '''
    print (f"Before cleaning shape is {df.shape}")
    df.dropna(axis=0, how="all", inplace = True)
    df.drop_duplicates(inplace = True)
    print (f"After cleaning shape is {df.shape}")

In [70]:
clean_na_dupl(sharks)

Before cleaning shape is (25723, 24)
After cleaning shape is (6311, 24)

In [49]:
sharks.Activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [73]:
def replace_by_dict(a_dict, df_column):
    '''This functions replaces the a value that follows a regex pattern by the corresponding key in the dictionary.
    :a_dict: your dictionary with regex.
    :df_column: the column of your df where you want to apply the replace.
    '''
    for key, value in a_dict.items():
        df_column = df_column.str.replace(value, key, regex = True)
    return df_column

In [76]:
dict_activity_regex = {"Board surfing" : ".*(surf).*|.*(boogie board).*|.*(body board).*",
                      "Kayaking & similar" : ".*(kayak).*|.*(canoe).*|.*(rowing).*",
                      "Diving" : ".*(diving).*",
                       "Paddle boarding" : ".*(paddle).*",
                      "Sailing" : ".*(boat).*|.*(sail).*|.*(ship).*|.*(overboard).*",
                      "Snorkeling" : ".*(snorkel).*",
                      "Swimming" : ".*(bathing).*|.*(swimming).*|.*(float).*",
                      "Spear-fishing" : ".*(spearfishing).*",
                      "Fishing" : "[\w\s]+?(fishing).*|^(fishing).*",
                      "Wading" : ".*wad.*|.*(walking).*|.*(standing).*|.*(treading).*"
                      }
replace_by_dict(dict_activity_regex, sharks["Activity"])

0        Paddling
1        Standing
2         Surfing
3         Surfing
4          Diving
           ...
6306          NaN
6307          NaN
6308          NaN
6309          NaN
25722         NaN
Name: Activity, Length: 6311, dtype: object

In [66]:
def replace_by_dict(a_dict, df_column):
    '''This functions replaces the a value that follows a regex pattern by the corresponding key in the dictionary.
    :a_dict: your dictionary with regex.
    :df_column: the column of your df where you want to apply the replace.
    '''
    for key, value in a_dict.items():
        df_column = df_column.str.replace(value, key, regex = True)

In [71]:
replace_by_dict(dict_activity_regex, sharks["Activity"])

In [75]:
sharks.Activity.head(50)

0                    Paddling
1                    Standing
2                     Surfing
3                     Surfing
4                      Diving
5               Board surfing
6                    Swimming
7                     Fishing
8                     Walking
9                    Standing
10             Feeding sharks
11            Boogie boarding
12                   Swimming
13                    Fishing
14             Feeding sharks
15                    Surfing
16                    Surfing
17                   Swimming
18                     Diving
19                    Surfing
20                    Surfing
21                    Surfing
22                    Surfing
23                    Fishing
24              Paddle-skiing
25              Body boarding
26                   Swimming
27                   Swimming
28                    Surfing
29                    Surfing
30                    Surfing
31                    Fishing
32              Board surfing
33                   Swimming
34                    Surfing
35    Stand-Up Paddleboarding
36                     Wading
37                   Swimming
38                    Surfing
39               Scuba Diving
40                   Swimming
41                    Fishing
42                    Walking
43                   Swimming
44              Cleaning fish
45                 Snorkeling
46                    Fishing
47                        NaN
48                    Fishing
49                     Diving
Name: Activity, dtype: object